In [3]:
x= [1,2,3,4,5,6,7,8,9,10]
y= [] #empty list
z= ['apple','banana','cherry','orange',]
a= ['alex',5, 'sam', 7,'john',10,'james',15]
a3= [[1,2,3],
     [4,5,6],
     [7,8,9]]

In [4]:
class Movie:
    def __init__(self,name,year):
        self.name = name
        self.year = year
        
movies = [
    Movie("the matrix",1999),
    Movie("the matrix reloaded",2003),
    Movie("the matrix revolutions",2003),
    Movie("the matrix resurrections",2021)
]

In [5]:
name = 'raj mishra'
list(name)

['r', 'a', 'j', ' ', 'm', 'i', 's', 'h', 'r', 'a']

In [6]:
print(list(range(1,101)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [7]:
print(a[0])
print(a[-1])

alex
15

In [10]:
#slicing
data = list(range(1,101))
print(data[:10])
print(data[10:20])
print(data[-10:])
print(data[23:36])
print(data[50:30:-1])
print(data[1::2]) #odd number
print(data[::-1]) #reverse

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36]
[51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [13]:
movies = []
movies.append('shrek')
movies.append('matrix')
movies.append('matrix reloaded')
movies.append('the matrix revolutions')
movies.append('fast and furious')
movies.append('fast and furious 2')
movies.append('fast and furious 3')
movies.append('fast and furious 4')
movies.append('fast and furious 5')

In [14]:
movies

['shrek',
 'matrix',
 'matrix reloaded',
 'the matrix revolutions',
 'fast and furious',
 'fast and furious 2',
 'fast and furious 3',
 'fast and furious 4',
 'fast and furious 5']

In [17]:
movies[2]='kung fu panda 2'
movies

['shrek',
 'matrix',
 'kung fu panda 2',
 'the matrix revolutions',
 'fast and furious',
 'fast and furious 2',
 'fast and furious 3',
 'fast and furious 4',
 'fast and furious 5']

In [18]:
#user create list 
animelist =[]

In [20]:
x=[1,2,3,4]
y=[5,6,7,8]

x+y

[1, 2, 3, 4, 5, 6, 7, 8]

In [22]:
x.extend(y)
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 5, 6, 7, 8]

In [25]:
books =[    
        'the final empire',
        'hello the book',
        'warbreaker',
        'elantris',
        'hero of ages'
]

In [26]:
books.index('elantris')

3

In [28]:
x=[12,12,32,3,4,2,43,23,34,23,344,2333,23,21,21,12,21,12]
print(x.count(12))

4